<div class="toolbar" role="banner">
  <span class="logo">Quala</span>
  <div class="spacer"></div>
</div>

<div class="container">
  <div class="form-container">
    <form [formGroup]="sucursalForm" (ngSubmit)="submitForm()">
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title class="form-title">Crear Sucursal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="grid-container">
            <div class="grid-item">
              <mat-form-field appearance="outline">
                <mat-label>Código</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="codigo"
                  required
                />
                <mat-error
                  *ngIf="
                    sucursalForm.controls['codigo'].invalid &&
                    sucursalForm.controls['codigo'].touched
                  "
                >
                  Código requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="grid-item">
              <mat-form-field appearance="outline">
                <mat-label>Identificación</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="identificacion"
                  required
                />
                <mat-error
                  *ngIf="
                    sucursalForm.controls['identificacion'].invalid &&
                    sucursalForm.controls['identificacion'].touched
                  "
                >
                  Identificación requerida
                </mat-error>
              </mat-form-field>
            </div>
            <div class="grid-item">
              <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <textarea
                  matInput
                  formControlName="direccion"
                  required
                ></textarea>
                <mat-error
                  *ngIf="
                    sucursalForm.controls['direccion'].invalid &&
                    sucursalForm.controls['direccion'].touched
                  "
                >
                  Dirección requerida
                </mat-error>
              </mat-form-field>
            </div>
            <div class="grid-item">
              <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea
                  matInput
                  formControlName="descripcion"
                  required
                ></textarea>
                <mat-error
                  *ngIf="
                    sucursalForm.controls['descripcion'].invalid &&
                    sucursalForm.controls['descripcion'].touched
                  "
                >
                  Descripción requerida
                </mat-error>
              </mat-form-field>
            </div>
        
            <div class="grid-item">
              <mat-form-field appearance="outline">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="moneda" required>
                  <mat-option
                    *ngFor="let option of monedaOptions"
                    [value]="option.id"
                  >
                    {{ option.currencyName }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    sucursalForm.get('moneda')?.invalid &&
                    sucursalForm.get('moneda')?.touched
                  "
                >
                  Moneda requerida
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            Registrar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <div class="table-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sucursales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource">
          <!-- Columnas de la tabla -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let sucursal">{{ sucursal.code }}</td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let sucursal">
              {{ sucursal.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef>Dirección</th>
            <td mat-cell *matCellDef="let sucursal">
              {{ sucursal.address }}
            </td>
          </ng-container>

          <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef>Identificación</th>
            <td mat-cell *matCellDef="let sucursal">
              {{ sucursal.identification }}
            </td>
          </ng-container>

          <ng-container matColumnDef="moneda">
            <th mat-header-cell *matHeaderCellDef>Moneda</th>
            <td mat-cell *matCellDef="let sucursal">
              {{ sucursal.currencyType }}
            </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let sucursal" >
              <button mat-icon-button color="primary" aria-label="Editar" >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="Eliminar" (click)="borrarSucursal(sucursal)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
