.toolbar {
  background-color: #006fca;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 500;
}

.spacer {
  flex: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.form-container {
  flex: 0 0 50%;
  margin-right: 16px;
  margin-bottom: 16px;
}

.table-container {
  flex: 1;
}

mat-card {
  margin-bottom: 16px;
}

mat-card-title {
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 20px !important;
}

mat-card-actions {
  justify-content: flex-end;
}

button[type="submit"] {
  margin-right: 8px;
}

button[mat-icon-button] {
  margin-right: 8px;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
  max-width: 600px;
}

.table-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.grid-item {
  width: 100%;
}

.custom-card {
  width: 100%;
  height: 100%;
}

.date-width {
  max-width: 215px !important;
}
